{% extends 'main/layout.html' %}

{% block title %}Текущие опросы{% endblock %}

{% block content %}
<div class="main-content">
    <div class="custom-h1">
        <h1>Текущие опросы</h1>
    </div>
    <div class="row align-items-md-stretch questions-blocks">
        {% if questionIterTwo %}
        {% for item in questionIterTwo %}
        <div class="col-md-6 local-img">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>{{ item.title }}</h2>
                <a href="{% url 'questionnaire_details' item.id %}" class="btn btn-outline-light" role="button" data-bs-toggle="button">Пройти опрос</a>
            </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

